.upper_container{
    margin: 25px 0 20px 0;
}

.language_label {
    width: 225px;
    display: flex;
}

.language_name{
    margin: 5px 0 3px 20px;
}

.run_btn{
    margin-right: 10px;
}

.btn_invite{
    margin-right: 10px;
}

.console_container{
    border-radius: 75px;
    margin: 0 10px 0 0 ;
}

.output_container {
  height: 450px;
  width: 700px;
  margin: 0 0 0 10px;
}

.output_p {
    border-radius: 5px 5px 0 0;
    background-color: #dadada;
    padding : 5px;

}

.search-bar-container {
  margin-bottom: 15px;
  display: grid;
  background-color: #ebeff3;
  border-radius: 10px;
  padding: 0.1rem 1.5rem;
  height: 2.5rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
}