.custom-modal .modal-dialog {
  max-width: 100%; 
}

.custom-modal .modal-content {
  min-width: 1300px; 
  margin-left: -400px;
  min-height: 650px;
}

.db_container {
  position: relative;
  top: 15px;
}

.db_alltabs {
  position: absolute;
  top: 100px;
  right: 0;
}

.dashboard_title {
  position: absolute;
  right: 40%;
  top: 40px;
  color: #fff;
  text-transform: uppercase;
}

.dashbord_background {
  width: 90%;
  height: 40vh;
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  border-radius: 10px;
  position: relative;
}

.dashboard_tabs {
  width: 90%;
  height: 42vh;
  background-color: #ffffff;
  margin-left: 2%;
  border-radius: 7px;
  border: #c9c9c9 solid 1px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding-left: 3%;
  padding-right: 3%;
}

.dbtab_details {
  width: 80%;
  height: 63.5vh;
  background-color: #ffffff;
  border-radius: 7px;
  border: #c9c9c9 solid 1px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.join-card {
  width: 90%;
  height: 21vh;
  background-image: linear-gradient(10deg, #83e6fc 0%, #d9acee 100%);
  margin-left: 2%;
  border-radius: 7px;
  border: #c9c9c9 solid 1px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 3%;
  margin-top: 5px;
  align-items: center;
}

.join-btn{
  margin-bottom: 3px;
  width: 185px;
}

.update-btn {
  align-items: center;
  width: 175px;
}

.custom-form-control {
  margin-left: 0px; 
}