.db_container{
position: relative;
}

.db_alltabs{
  position: absolute;
  top: 80px;
  right: 0;
}

.dashbord_background {
  width: 90%;
  height: 30vh;
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  border-radius: 10px;
  position: relative;
}

.dashboard_tabs{
  width: 90%;
  height: 40vh;
  background-color: #ffffff;
  margin-left: 2%;
  border-radius: 7px;
  border: #c9c9c9 solid 1px;
}

.dbtab_details {
  width: 80%;
  height: 60vh;
  background-color: #ffffff;
  border-radius: 7px;
  border: #c9c9c9 solid 1px;
}